body {
    overflow-x: hidden;
}

/* Navbar */
#navbar-1{
    transition: all 0.3s ease;
}

#navbar-container {
    flex-direction: column;
}

.pressed {
    background-color: 	#87CEEB;
}

.navbar-scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2); /* sesuaikan dengan tema warna */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.navbar-scrolled #navbar-container {
    flex-direction: row;
}

@media (max-width: 991.98px) {
    #navbar-container {
      flex-direction: row;
    }
}

/* Carousel */
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease;
}

.fade-up.active {
    opacity: 1;
    transform: translateY(0);
}