@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Navbar */
#navbar-1{
    transition: all 0.3s ease;
}

.navbar-toggler {
    border-color: transparent;
}
  
.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.pressed {
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.navbar-scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.navbar-scrolled #navbar-container {
    flex-direction: row;
}

/* Main */
.main-title {
    font-size: 5em;
    letter-spacing: 10px;
}

.custom-img-left {
    max-height: 515px;
}

.custom-img {
  max-height: 250px;
  object-fit: cover;
}